body {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(49,121,9,1) 35%, rgba(0,212,255,1) 100%);
}
.App {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}
.hCaculator {
    font-family: "Fira Code";
    color: #ccc;
}

